
<style>
  #my-task-table {
    border: solid 1px lightgray;
    border-collapse: collapse;
  }
  #my-task-table td, #my-task-table th  {
    padding: 5px;
    border: solid 1px lightgray;
  }
</style>

{% if viewParams.employee == "N/A" %}
  <div class="text-center">
    Employee could not be found. Defaulting to your data.
  </div>
{% else %}
  <div class="text-center">
<div style="text-align: center"><h2>Viewing tasks for: {{ viewParams.employee }}</h2></div>
  </div>
{% endif %}

{% if viewParams.myTasks == null %}
  <p>No tasks were found</p>
{% else %}
  <table id="my-task-table" class="hubleto component table">
    <tr>
      <th>Identifier</th>
      <th>Task</th>
      <th>Hours</th>
      <th>Step</th>
      <th></th>
    </tr>
    {% for task in viewParams.myTasks %}
      <tr>
        <td>{{ task.identifier }}</td>
        <td style="max-width: 220px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ task.title }}</td>
        <td>{{ task.worked ?? 0 }} h</td>
        <td><div style="border-left: 10px solid {{task.color}}; padding-left:5px;">{{ task.step }}</div></td>
        <td><a class="btn p-1 btn-main" target="_blank" href="{{ config.projectUrl }}/tasks/{{ task.id }}">Go to task</a></td>
      </tr>
    {% endfor %}
  </table>
{% endif %}